
nav {
    max-height: 40px;
    background: rgb(30, 30, 30);
    display: flex;
    overflow: visible;
    padding: 0 20vw;

    > ul {
        display: block;
        margin: 0;
        padding: 0 15px;
        display: flex;
        z-index: 100;

        > li {
            display: block;
            max-height: 40px;
            transition: all 0.5s;
            overflow: hidden;
            
            a {
                line-height: 40px;
                text-decoration: none;
                color: rgb(240, 240, 240);
                padding: 0 15px;
                display: block;
            }

            ul {
                background: rgb(30, 30, 30);
                padding: 0;
                margin: 0;
                z-index: 100;

                li {
                    list-style: none;
                    margin: 0;
                z-index: 100;
                    

                    a {
                        line-height: 40px;
                        text-decoration: none;
                        color: rgb(240, 240, 240);
                        padding: 0 15px;
                        display: block;
                    }

                     &:hover {
                        background: rgba(255, 255, 255, 0.3);
                     }
                }
            }
            
            &:hover {
                background: rgba(255, 255, 255, 0.3);
                max-height: 500px;
                overflow: visible;

                ul {
                    display: block;
                }
            }
    }
    }
}