---
layout: page-banner
---


<div class="cfh-banner" style="background-image: url({{ site.data.design.headerimage }}"></div>

{% include navigation.html %}

<div class="content-container">
    
    <div class="cfh-section">
        <h2>Anstehende Events</h2>

        <div class="cfh-cards">
            {% for event in site.events limit: 3 %}
                {% include cfh-event-card.html event=event %}
            {% endfor %}
        </div>
    </div>

    <div class="cfh-section">
        <h2>Blog</h2>
        <div class="cfh-cards">
            {% for post in site.posts limit: 3 %}
                {% include cfh-blog-card.html post=post %}
            {% endfor %}
        </div>
    </div>

    <div class="cfh-section">
        <h2>Projekte</h2>
        <div class="cfh-cards">
            {% for project in site.projects limit: 3 %}
                {% include cfh-project-card.html project=project %}
            {% endfor %}
        </div>
    </div>

    <!-- hidden dreck from cowo -->

</div>
