
.cfh-banner {
    background: #607d8b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38vh;
}

.cfh-banner .cfh-banner-logo {
    position: absolute;
    width: 248px;
    height: 288px;
    top: 17vh;
    left: 50%;

    margin-left: -124px;
    margin-top: -144px;
}