<div class="cfh-project-cards">
    
    {% for project in site.projects %}
    <div class="cfh-project-card">
        <div class="cfh-project-card-image" style="background-image: url(uploads/badge-502-farmbot.png);"></div>

        <div class="cfh-project-card-content">
            <h3>{{ project.name }}</h3>
            <p>{{ project.teaser }}</p>
        </div>

        <div class="cfh-project-card-footer">
            <a href="{{ project.url }}">Details zum Projekt</a>
        </div>
    </div>
    {% endfor %}

</div>