{% for contr in site.data.contributors %}
    {% if contr.nick == include.contributor %}
        {% assign i_contributor = contr %}
    {% endif %}
{% endfor %}

<div class="cfh-contributor cfh-contributor-image" style="background-image: url({{ i_contributor.avatar }});">

    <div class="cfh-card">
        <div class="cfh-card-image" style="background-image: url({{ i_contributor.avatar }});"></div>

        {% if include.title %}
        <div class="cfh-project-title">{{title}}</div>
        {% endif %}

        <div class="cfh-card-content">
            <h3>{{ i_contributor.name }}</h3>
            <p>{{ i_contributor.intro }}</p>

            <div style="margin-top: 20px;">
                {% for id in i_contributor.badges %} 
                    {% for badge in site.badges %}
                        {% if badge.bid == id.id %}
                            <a href="{{ badge.url }}" style="text-decoration: none;">
                                <img class="cfh-card-badge-small" src="{{badge.image}}" />
                            </a>
                        {% endif %} 
                    {% endfor %} 
                {% endfor %}
            </div>
        </div>

        <div class="cfh-card-footer">
            {% if i_contributor.twitter %}
            <a href="https://twitter.com/{{i_contributor.twitter}}">
                <img class="cfh-card-footer-icon" src="/uploads/site_internal/logo-twitter.svg" />
                <div class="cfh-card-footer-label">{{i_contributor.twitter}}</div>
            </a>
            {% endif %}
        </div>
    </div>

</div>
