
<div class="footer">

    <section>
        <a href="/impressum.html">impressum</a>
    </section>

    <section>
      <a class="twitter-timeline" href="https://twitter.com/codeforhn?ref_src=twsrc%5Etfw">Tweets by codeforhn</a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

    <section>
      <div>
        <form onsubmit="return sendslack()" id="slack-form">
          <div class="cfh-footer-label">
            <img class="cfh-footer-logo-image" src="/uploads/logo-slack.svg" />
            Want to join our Slack-Team? Send us a invitation request!
          </div>
          <div class="cfh-footer-input">
            <input type="email" id="slack-email" placeholder="email" />
            <input type="submit" />
          </div>
          <div class="success hidden">
            Die Anfrage wurde versendet Wir melden uns so schnell wie möglich! 
          </div>
        </form>
      </div>
    </section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script>

  $("code").addClass("prettyprint");

  function sendslack() {
    var mail = document.getElementById("slack-email").value;


    $.ajax({
        type: "POST",
        url: "https://hooks.zapier.com/hooks/catch/2269356/sh039d/",
        crossDomain: true,
        data: '{ "email": "' + mail + '"}',
        success: function (data) {
          $("#slack-form .success").removeClass("hidden");
        },
        error: function (err) {
            // handle your error logic here
        }
    });

    return false;
  };
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://codeforheilbronn.de",
  "name": "Code For Heilbronn e.V.",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "info@codeforheilbronn.de",
    "contactType": "customer service"
  }
}
</script>

</html>