<!DOCTYPE html>
<meta charset="utf-8" lang="de">

<title>Code For Heilbronn</title>

{% if page.title %} <meta property="og:title" content="{{ page.title }}" /> {% endif %}
{% if page.teaser %} <meta property="og:description" content="{{ page.teaser }}" /> {% endif %}
{% if page.layout == 'blog' %} <meta property="og:type" content="article" /> {% endif %}
{% if page.layout == 'event' %} <meta property="og:type" content="website" /> {% endif %}
{% if page.url %} <meta property="og:url" content="{{ page.url }}" /> {% endif %}
{% if page.image %} <meta property="og:image" content="http://codeforheilbronn.de{{ page.image }}" /> {% else %} <meta property="og:image" content="http://codeforheilbronn.de/uploads/CodeForHeilbronn.svg" />  {% endif %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@codeforhn" />
<meta name="twitter:creator" content="@codeforhn" />

{% if page.title %} <meta name="twitter:title" content="{{ page.title }}" /> {% endif %}
{% if page.teaser %} <meta name="twitter:description" content="{{ page.teaser }}" /> {% endif %}
{% if page.image %} <meta name="twitter:image" content="http://codeforheilbronn.de{{ page.image }}" /> {% else %} <meta name="twitter:image" content="http://codeforheilbronn.de/uploads/CodeForHeilbronn.svg" />  {% endif %}

<link rel="stylesheet" href="/styles/main.css" />