<!-- overrides post-meta.html from alembic design -->

{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ category | downcase }}">{{ category }}</a></span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif page.category %}
  {% capture categories %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ page.category | downcase }}">{{ page.category }}</a></span>
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}
  <time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date_to_string }}</time>
  {% if page.author %}
    <!-- Look the author details up from the site config. -->
    &nbsp;&middot;&nbsp;
    {% for contr in site.contributors %}
        {% if page.author == contr.nick %}
            {{ contr.name }}
        {% endif %}
    {% endfor %}
  {% elsif page.authors %}
    &nbsp;&middot;&nbsp;
    {% assign authors = "" %}
    {% for author in page.authors %}
      {% for contr in site.contributors %}
        {% if author == contr.nick %}
            {{ contr.name }}
        {% endif %}
      {% endfor %}
      {% if forloop.last == false %}/{% endif %}
    {% endfor %}
  {% endif %}
</small>