<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h3>About this site</h3>
      <p>{{ site.description }}</p>
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>
  
  {% elsif page.layout == "project" %}
    <section class="section  section--project-info">
      <div class="cfh-project-header">
        {% if page.badge %}
          <img class="cfh-project-badge" src="{{ page.badge }}">
        {% endif %}
        <h1>{{ page.title }}</h1>
        {% if page.github %}
          <a href="{{page.github}}">
              <div class="cfh-project-header-item">
                  <img class="cfh-project-header-item-image" src="/uploads/site_internal/logo-github.svg" />
                  <div class="cfh-project-header-item-label">GitHub Repository</div>
              </div>
          </a>
        {% endif %}
  
        {% for state in site.data.projectstates %}
            {% if page.state == state.name %}
                <div class="cfh-project-header-item" title="{{ state.description }}">
                    <img class="cfh-project-header-item-image" src="{{state.image}}" />
                    <div class="cfh-project-header-item-label">Projektstatus: {{ state.name }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="cfh-contributors">
          <h3>Contributors</h3>
  
          <div class="cfh-cards">
              {% for contributor in page.contributors  %}
                  {% include cfh-contributor.html contributor=contributor %}
              {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

</aside>
