

.cfh-project-header { 
    opacity: 1;
    
    a {
        text-decoration: none;
        color: rgb(0,0,0);
    }

    .cfh-project-badge {
        margin-left: auto;
        margin-right: auto;
        width: 12em;
    }

    .cfh-project-header-item {
        display: flex;
        margin-bottom: 4px;

        .cfh-project-header-item-image {
            max-width: 40px; 
            max-height: 40px;
        }

        .cfh-project-header-item-label {
            line-height: normal;
            text-decoration: none;
            margin: auto 0 auto 20px;
        }
    }
}


.cfh-project-title {
    color: rgb(150, 150, 150);
    font-size: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}


.cfh-project-content {
    display: flex;

    .content {
        width: 100%;
    }

    .cfh-cards {
        width: 145px;
    }
    
    .cfh-contributors {
        margin-left: 50px;
        margin-bottom: 50px;
        display: block;
    }
}