// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #f4f4f4;
$featureBackgroundColour: #eeeeee;
$accentColour: #9C8674;

// Text colours
$headingColour: #333333;
$bodyColour: #555555;
$linkColour: #FF867F;
$hoverColour: rgb(212, 90, 83);
$focusColour: #FF867F;
$captionColour: #aaaaaa;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: 'serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);
