@charset "utf-8";

.cfh-badge {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

// Import frameworks & theme styles
@import "normalize",
"settings",
"sassline-base",
"syntax",
"flex",
"theme";

@import 
"blog",
"event",
"project",
"cfh-banner",
"cfh-contributor";

