

.cfh-badge-list {
    position: relative;

    img {
        width: 181px;
        height: 209px;
        position: absolute;
        cursor: pointer;
    }
}

 .cfh-badgelist-small {
     img {
        width: 81px;
        height: 95px;
    }
 }