

.cfh-event-header {
    margin-top: 50px;
    
    a {
        text-decoration: none;
        color: rgb(0,0,0);
    }

    .cf-event-header-registration {
        display: flex;


        .cf-event-header-registration-label {
            line-height: 40px;
            text-decoration: none;
            margin-left: 20px;
        }

        .cf-registration-logo {
            max-width: 40px; 
            max-height: 40px; 
        }
    }
}
