

.footer {
    margin-top: 50px;
    height: 500px;
    background: #607d8b;

    padding: 100px 20vw;
    color: rgb(255,255,255);

    a {
        color: rgb(255,255,255);
        text-decoration: none;    
    }
}