

.cfh-badge {
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 357px;

    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}