
{% include head.html %}


{% include navigation.html %}

<div class="content-container">

    <div class="cfh-event-header">
        {% if page.registration contains "meetup.com" %}
        <a href="{{page.registration}}">
            <div class="cf-event-header-registration meetup">
                <img class="cf-registration-logo" src="/uploads/logo-meetup.svg" />
                <div class="cf-event-header-registration-label">Anmeldung unter auf Meetup</div>
            </div>
        </a>
        {% endif %}
    </div>

    {{ content }}
</div>


{% include footer.html %}