
{% include head.html %}

{% include navigation.html %}

<div class="cfh-banner" style="background-image: url({{ page.image }}"></div>

<div class="content-container">

    <div class="cfh-badge" style="background-image: url({{ page.badge }})"></div>

    <div class="cfh-project-header">
        {% if page.github %}
        <a href="{{page.github}}">
            <div class="cfh-project-header-item">
                <img class="cfh-project-header-item-image" src="/uploads/logo-github.svg" />
                <div class="cfh-project-header-item-label">GitHub Repository</div>
            </div>
        </a>
        {% endif %}

        {% for state in site.data.projectstates %}
            {% if page.state == state.name %}
                <div class="cfh-project-header-item" title="{{ state.description }}">
                    <img class="cfh-project-header-item-image" src="{{state.image}}" />
                    <div class="cfh-project-header-item-label">Projektstatus: {{ state.name }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="cfh-project-content">
        <div class="content">{{ content }}</div>
        
        <div class="cfh-contributors">
            <h3>Contributors</h3>

            <div class="cfh-cards">
                {% for contributor in page.contributors  %}
                    {% include cfh-contributor.html contributor=contributor %}
                {% endfor %}
            </div>
        </div>
    </div>


    {% if page.tag %}
    <div class="cfh-project-blog">
        <h2>Blog</h2>
        <div class="cfh-cards">
            {% for post in site.posts  %}
                {% if post.tags contains page.tag %}
                    {% include cfh-blog-card.html post=post %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>


{% include footer.html %}