---
layout: page
foo: bar
---

<div class="content-container">
    <div class="cfh-project-content">
        <div class="content">{{ content }}</div>
    </div>

    {% for post in site.posts  %}
        {% if post.tags contains page.tag %}
            {% assign hasBlogPosts = true %}
        {% endif %}
    {% endfor %}
    {% if page.tag and hasBlogPosts %}
    <div class="cfh-project-blog">
        <h2>Blog</h2>
        <div class="cfh-cards">
            {% for post in site.posts  %}
                {% if post.tags contains page.tag %}
                    {% include cfh-blog-card.html post=post %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
